<main>
    <p>‘To kiss the world through a veil of lead’ deals with imagining experiences that are alien to us, experiences that lie at the limit or even beyond what humans can feel and understand. Paraphrasing Thomas Nagel, it attempts to know “what it is like to be a bat”, an octopus, an infection, a planet, an erupting volcano.</p>

    <p>Inside a dark and silent room, a different composition of words and synthesised sounds plays every 15 minutes, focussing on the experiences and sensations of a non-human being. ‘To kiss the world through a veil of lead’ attempts to put viewers in a non-space where their senses are numbed and, ideally and impossibly, briefly overridden with those of alien others.</p>

    <p>With the deepest thanks to the guidance of Daniel van der Velden, Filippo Taveri, Jesse Darling and Rob Schröder. A special thanks to André Lourenço, Angelo Custódio, Duncan Robertson, Mavi Veloso, Niccolò Borgia and Thom Driver — the readers — for having dedicated their time to collaborate in this project.</p>
</main>
