<main>
    <header class="volume-header">
        <h2 class="volume-header__title">{{ title }}</h2>
        <div class="download">
            <ul class="download__list">
                {{ #downloads }}
                <li class="download__item">
                    <a class="download__link" href="/assets/downloads/{{ file }}">{{ type }}</a>
                </li>
                {{ /downloads }}
            </ul>
        </div>
    </header>

    <article>
        <p class="volume-content">{{ content }}</p>
        <ol class="stories">
            {{ #children }}
            <li class="story">
                <a class="story__link" href="{{ parent }}/{{ slug }}.html">{{ title }}</a>
            </li>
            {{ /children }}
        </ol>
    </article>
</main>
